
/* CALLOUT */
.callout{
	border: none;
	padding: 2vh 0;
	text-align: center;	
	vertical-align: middle;

}

	.callout .icon{
		font-size: 2.5em;
		/* opacity: 0.7; */
	}
		.success .icon{
			color: #007050;
		}

		.warning .icon{
			color: #991008;
		}
		.alert .icon{
			color: #ba4532;
		}
		

	.callout p{
		font-size: 1em;
		font-weight: 700;
		display: inline-block;
		vertical-align: middle;
	}
		.callout .secondary {
			font-weight: 400;
		}




/* Adicionar padding em todos os SECTION */
section {
	padding-top: 15vh;
	padding-bottom: 17vh;
}





	.header-wrapper-home {
		height: 108vh;
		background: linear-gradient(
	      rgba(0, 0, 0, 0.5),
	      rgba(0, 0, 0, 0.5)
	    ), url('../img/header-hero3.jpg') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover; 
	  background-size: cover;

	  	
	}
	header i {
		padding: 0;
		margin: 0;
	}
		
		header a {
			letter-spacing: 0.15em;
			font-weight: 600;
		}

		.header a{
			color: white;
		  padding-left: 0;
		  padding-right: 0;
		  margin-left: 1em;
		  margin-right: 1em;
		}

			header .is-active{
				color: #c0b283;
				cursor: default;
				border-bottom: 2px solid #c0b283;
			}
			header a:hover, header a:focus {
				color: #c0b283;
				
			}

		header img{
			width: 7em;
			height: 6em;
			margin: 0 2.5em 0 2.5em;
		}


		.menu-show-small img{
			width: 5.5em;
			height: 5em;
			margin: 0 0 0 1em;
		}

		.menu-show-small .icon-menu{
			font-size: 2em;
		}

		.hero-quote{
			/* margin-top: 2.5vh; */
		}




/* MENU */

	/* HERO NAVIGATION */
	.header-wrapper-home .hero-quote{
		margin-top: 11vh;
	}

		.quote-space{
			height: 22vh;	
			display:flex;
			justify-content:center;
			align-items:center;
			color: white;
			font-weight: bold;	
			text-transform: uppercase;
		}

		.quote-space h1{
			color: #c0b283;
			font-weight: 700;
		}

		.quote{
			font-family: Open Sans;
			font-style: italic;
			margin-bottom: 2.4em;
			color: white;
		}



	.side-bar{
		font-weight: 700;	
	}
	
		.menu-categoria-group-space{
			margin-bottom: 1vh;
		}

		.side-bar a {
			color: #373737;
		}

			.side-bar ul li a{
				text-transform: capitalize;
			}

			.side-bar ul li > ul li{
				font-weight: 400;
				opacity: 0.75;
			}


			.side-bar ul li > ul li:hover{
				/* font-weight: 600; */
				opacity: 1;
			}

 
#menu-header-offcanvas{
			font-weight: 400;
		}


	.categoria-menu{
		color: #373737;
		margin-bottom: 0.5em;
		text-align: center;
		/* letter-spacing: 0.13em;	 */
		margin-top: 5.6vh;	
		margin-bottom: 5.6vh;	
	}

		.categoria-menu h2 {
			font-size: 1.2em;
			font-weight: 600;
		}

	
#offCanvasRightHeaderMenu .side-bar a{
		font-weight: 400 !important;
		opacity: 0.7;	
	}
	
	#offCanvasRightHeaderMenu	.menu-categoria-group-space{
			margin-bottom: 1vh;
		}

	#offCanvasRightHeaderMenu	.side-bar a {
			color: #373737 !important;
		}
			#offCanvasRightHeaderMenu .side-bar .is-active{
				font-weight: 700 !important;
				border: none !important;
				opacity: 1;
			}

			#offCanvasRightHeaderMenu .side-bar ul li a:hover{
				font-weight: 600;
				opacity: 1;
			}















/* NOSSAS CRENCAS */
.nossas-crencas{
	/* height: 60vh; */
	background-color: #eaeaea;
	
} 



	.nos p{
		/* text-align: justify; */
	}
		.nossas-crencas-header-caps{
			color: #c0b283;
			font-weight: 600;
			font-size: 2.4em;
			display: inline-block;
			font-family: Playfair Display;
			text-transform: uppercase;
		}

		.margin-top-1x{
			margin-top: 5em;
		}

		.margin-top-2x{
			margin-top: 10em;
		}

	
	.nossas-crencas .btn-1 {
		margin-top: 4.8em;
		border: 3px solid #a39167;
		color: #a39167;
	}
		.nossas-crencas .btn-1:hover {
		background-color:  #a39167;
		color: white;
	}



	/* OBJECTIVOS */
	.objectivos > div p {
		text-align: center;
		font-size: 0.9em;
		color: #373737;
	}
	.objectivos > div img {
		width: 13em;
		height: 13em;
		align-items: center;
		margin-bottom: 1.3em;
	}



/* 
.objectivos > div:nth-child(odd) {
	background-color: orange;
}

.objectivos > div:nth-child(even) {
	background-color: blue;
}
 */



/* PRODUTOS */
.produtos{
	background-color: #f3f3f3;
}
	/* ACCORDTION TABS */
	.produtos .menu{
		/* margin-top: 1.4em; */
		border: none;
		background: none;
		border-bottom: 1px solid #cacaca;
	}

	.produtos .tabs-title > a {
		font-family: Open Sans;
		font-size: 1.2em;
		font-weight: 400;
		background: none;
		color: #9c9c9c;
		
	}

		.produtos .menu li a:hover{
			background: none;
		}

		.produtos .menu li a:active{
			background: none;
		}

		.produtos .menu .is-active a{
			font-family: Open Sans;
			color: #a39167;
			background: none;
			cursor: default;
			font-weight: 600;
			border-bottom: 1.2px solid #a39167;
		}




	.produtos .tabs-content {
		background: none;
		border: none;
		margin-top: 1em;
	}
		/* HOVER STATES DOS PRODUTOS */
			.inner-produto:hover img{
				background-size: cover;
				-moz-transform: scale(1.055);
			 	-webkit-transform: scale(1.055);
			  	transform: scale(1.055);
			}

			.inner-produto:hover .nome-produto {
				color: #a39167;
			}
	
	.produto{
		/* padding: 1.5em; */
		/* background-color: #eaeaea; */
	}
		
		.img-produto{
			height: 17em;
			position: relative;
			overflow: hidden;
			border-radius: 2px;		
		}

			.produto img{
				width: 100%;
				height: 100%;
				background-size: cover;
				-moz-transition: all 0.4s;
				-webkit-transition: all 0.4s;
				transition: all 0.4s;

				/* Optimizar a imagem para o Chrome (estavam com o efeito BLur devido ao down-scaling) */
				image-rendering: optimizeSpeed;             /*                     */
			    image-rendering: -moz-crisp-edges;          /* Firefox             */
			    image-rendering: -o-crisp-edges;            /* Opera               */
			    image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
			    image-rendering: optimize-contrast;         /* CSS3 Proposed       */
			    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
			}
	.inner-produto-content{
		margin-top: 1em;
	}

	.novo-produto{
		text-align: left;
		font-weight: 700;
		text-transform: uppercase;
		font-family: Open Sans;
		letter-spacing: 0.07em;
	}

	.nome-produto {
		color: #373737;
		font-weight: 400;
		line-height: 0.9em;
		text-align: left;
	}


	.descricao-produto{
		font-size: 0.9em; 
		line-height: 1.4em;
		padding-top: 0.6em;
	}

	.preco-produto{
		color: #a39167;
		font-weight: 700;
		font-size: 1em;
		text-align: left;
		display: inline-block;
	}
		.preco-promocao-produto{
			margin-left: 0.4em;
			text-decoration: line-through;
			text-align: center;
			font-weight: 400;
			display: inline-block;
		}

		.novo-produto, .nome-produto, .preco-promocao-produto{
			font-size: 0.9em;
		}

		.preco-promocao-produto, .novo-produto{
			/* color: #9c9c9c; 	 */
			opacity: 0.5;
		}

	.produtos .btn-1 {
		margin-top: 4.8em;
		border: 3px solid #a39167;
		color: #a39167;
	}
		.produtos .btn-1:hover {
		background-color:  #a39167;
		color: white;
	}



/* Espaco para frase */

.quote-section{

	background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('../img/artesanto-bnw.jpg') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover; 
	  background-size: cover;
	  padding: 10em 0;
}


	.quote-section p{
		font-family: Playfair Display;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 1.5em;
		color: #c0b283;
		text-align: center;

	}


/* Area de Mensagem e Contacto */
.mensagem-contacto{
	padding: 0;
	background-color: #eaeaea;
}
	.mensagem-contacto .icon {
		margin: 0;
		padding: 0;
		font-size: 2em;
		color: #9c9c9c;
		-moz-transition: all 0.3s;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
	}
		.social-icons-contacto .icon:hover {
			color: #a39167;
		}	

		.social-icons-contacto{
			margin-top: 3.2rem;
		}
			.social-icons-contacto a {
				margin-right: 2.5em;
			}


			.descricao-contacto p {
				font-family: Open Sans;
				font-weight: 400;
				word-break: break-all;
				color: #dcd0c0;
				margin-bottom: 0.6em;
			}

		.mensagem-contacto-spacing .header-wrapper-home{
			margin-bottom: 2vh;
		}
		.mensagem, .contacto{
			padding: 5em;
			padding-top: 15vh;
			padding-bottom: 12vh;
		}	


			.mensagem h1, .contacto h1{
				font-weight: 600;
				font-size: 1.3em;
				font-family: Open Sans;
				margin-bottom: 2.9em;
			}

				.contacto h1, .contacto p {
					color: #f4f4f4;
				}

				.contacto .page-divider2{
					text-align: left;
					border-top: 3px solid #f4f4f4;
				}

					.bg-contacto{
						 background-color: #373737;
						background: linear-gradient(
						      rgba(8, 8, 8, 0.93),
						      rgba(8, 8, 8, 0.93)
						    ), url('../img/seamless-pattern-720vw2.jpg') no-repeat center center; 
						  -webkit-background-size: cover;
						  -moz-background-size: cover;
						  -o-background-size: cover; 
						  background-size: cover;
					}

				.mensagem h1{
					color: #373737;
				}

				.mensagem .page-divider2{
					text-align: left;
					border-top: 3px solid #373737;
				}



		.inner-mensagem, .inner-contacto{
			margin-top: 2em;
		}














/*  

PAGE - PRODUCTO




	 /* HEADER */

	.header-wrapper-productos{
		height: 65vh;
		background: linear-gradient(
	      rgba(0, 0, 0, 0.5),
	      rgba(0, 0, 0, 0.5)
	    ), url('../img/manequim.jpg') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover; 
	  background-size: cover;
	  background-position: 0em -14em;
	  /* background-position: 0px -250px; */
	}
		.header-wrapper-productos a{
			color: white;
		}

		.header-wrapper-productos .is-active {
		    color: #c0b283;
		    cursor: default;
		    border-bottom: 2px solid #c0b283;
		}



	

	.menu-offcanvas{
		/* border-bottom: 2px solid #cacaca; */
		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
		background-color: #eaeaea;
	}

	.rodax .top-bar, .rodax .top-bar ul{
		background-color: #eaeaea;

	}
		.menu-offcanvas h2, .menu-offcanvas i {
			color: #373737;
		}

			.menu-offcanvas h2{
				font-size: 0.95em;
				font-weight: 600;
				align-content: center;
				align-items: normal;
				vertical-align: center;
			}
				.menu-offcanvas i{
					font-size: 2em;
				}





	/* CONTAINER */

	.container-productos{
		/* border-top: 2px solid #cacaca; */
		background: -webkit-linear-gradient(top left,#eaeaea,#f4f4f4);
            background: -moz-linear-gradient(top left,#eaeaea,#f4f4f4);
            background: linear-gradient(top left,#eaeaea,#f4f4f4);

            padding-bottom: 10vh;
	}
	

		.categoria-menu-active-page{
			text-align: left;
			box-shadow: 0.5px;
			margin-top: 5.6vh;
			margin-bottom: 0.5em;
			/* letter-spacing: 0.09em;	 */
			text-transform: capitalize;
		}
			.categoria-menu-active-page h2{
				font-size: 1.1em;
				font-weight: 700;
				color: #a39167;
				letter-spacing: 0.09em;	
			}


	.paginacao{
		margin-top: 2em;
		font-size: 1em;
	}

	.paginacao .active{
		padding: 1em;
		color: white;
		background-color: #b19f65;
	}










/*  

PAGE - SOBRE NOS 

*/


	 /* HEADER */

	.sobre-nos-wrapper-productos{
		height: 65vh;
		background: linear-gradient(
	      rgba(0, 0, 0, 0.5),
	      rgba(0, 0, 0, 0.5)
	    ), url('../img/the-team.jpg') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover; 
	  background-size: cover;
	  background-position: 0em -5em;
	  /* background-position: 0px -50px; */
	}

	.sobre-nos-container section:nth-child(even){
		background-color: #eaeaea;
	}

	.sobre-nos-container section:nth-child(odd){
		background-color: #f4f4f4;
	}


.nossas-crencas-missao{
	padding: 0vh 2vw;
}
	.nossas-crencas-missao p {
		text-align: center;
	}



.historia{
	
}

	.historia blockquote{
		color: #b19f65;
		text-align: left;
		margin: 1em 0;
		font-size: 1em;
		font-weight: 700;
		font-style: normal;
		text-transform: uppercase;
		font-family: Playfair Display;
		border-left: 2px solid #b19f65;
		word-spacing: 0.7em;
	}

	.historia-content p{
		margin: 1em 0;
		text-align: justify;
	}	

		.historia .first-child::first-letter{
			font-weight: 600;
			float: left;
			margin: 10px 10px 0px 0px;	
			font-size: 5em;
		}

		.historia p::first-letter{
			/* margin-left: 1.5em; */
		}



.staff-inner-wrapper{
	margin-top: 5.5vh;
}

	.staff-profile{
		background: #eaeaea;
            background: -webkit-linear-gradient(top left,#eaeaea,#f4f4f4);
            background: -moz-linear-gradient(top left,#eaeaea,#f4f4f4);
            background: linear-gradient(top left,#eaeaea,#f4f4f4);

		padding: 2em 0;

		box-shadow: inset 0px 0px 25px -31px rgba(55,55,55,1);

		-moz-transition: all 0.4s;
			-webkit-transition: all 0.4s;
			transition: all 0.4s;
	}
		.staff-profile:hover{
			/* box-shadow: inset 0px 0px 40px -31px rgba(55,55,55,1); */
			box-shadow: inset -8px -8px 60px -40px rgba(55,55,55,0.41);
		}

		.staff-profile:hover .staff-profile-content h3{
			color: #b19f65;
			opacity: 1;
		}







		.staff-profile-picture{
			width: 11em;
			height: 11em;
		}
			.staff-profile-picture img{
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
		

		.staff-profile-content, .staff-profile-social-links{
			text-align: left;
			text-justify: inter-word;
			padding: 0.5em 2em;
		}
			.staff-profile-content h3{
				margin: 0;
				/* opacity: 0.7; */
				color: #b19f65;
				font-weight: 600;
				font-size: 1.14em;
				text-transform: capitalize;

			-moz-transition: all 0.4s;
				-webkit-transition: all 0.4s;
				transition: all 0.4s;
			}

			.staff-profile-content h4{
				color: #373737;
				opacity: 0.47;
				font-size: 1em;
				font-style: italic;
				font-weight: 600;
				margin: 0;
				margin-bottom: 2em;
			}

			.staff-profile-content p {
				/* text-align: justify; */
				font-size: 0.9em;
				/* text-justify: inter-character; */
			}



		.staff-profile-social-links{
			margin-top: 2em;
			border-top: 1px solid #cacaca;
		}

			.staff-profile-social-links a{
				padding: 0;
			}

			.staff-profile-social-links li{
				/* margin: 1em 0em; */
				margin-top: 1.3em;
				margin-right: 2em;
			}	

				.staff-profile-social-links i{
					color: #c0b283;
					font-size: 1.6em;
				}		


.mcma-cta-section h1{
	font-size: 1em;
	font-weight: 600;
	display: inline;
	
}

.mcma-cta-section a{
	display: inline;
}

	.mcma a{
		color: white;
	}
	
	.mcma button{
		margin: 0.4em 1em;
		padding: 20px 50px;
		background: #a39167;
		color: white;
		border: 3px solid #a39167;
	}


	.mcma button:hover{
		color: white;
		border: 3px solid #c0b283;
	}

	/* ACTIVE */
	.mcma .is-active{
		background: none;
		color: #a39167;
	}

	.mcma .is-active:hover{
		color: #a39167;
	}

	/* ACTIVE HOME*/
	.mcma .is-active-home{
		background: none;
		color: #a39167;
		text-decoration: underline;
		border: none;
		margin: 0;
		padding: 0;
		opacity: 0.8;
	}

	.mcma .is-active-home:hover{
		color: #a39167;
		border: none;
		cursor: default;
	}








/*  

PAGE - CONTACTO

*/


	 /* HEADER */

	.header-wrapper-contacto{
		height: 65vh;
		background: linear-gradient(
	      rgba(0, 0, 0, 0.5),
	      rgba(0, 0, 0, 0.5)
	    ), url('../img/contacto-feedback.jpg') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover; 
	  background-size: cover;
	  /* background-position: 0em -14em; */
	  /* background-position: 0px -250px; */
	}
		.header-wrapper-contacto a{
			color: white;
		}

		.header-wrapper-contacto .is-active {
		    color: #c0b283;
		    cursor: default;
		    border-bottom: 2px solid #c0b283;
		}
		.header-wrapper-contacto .quote p{
			/* font-size: 1.2em; */
			/* font-weight: 300; */
		}

		 












/* Paginas Gerais */

	.header-wrapper-pagina-geral {
		background-color: black;
	}

	.header-wrapper-pagina-geral a{
		color: ‎#000000;
	}

	.paginas-gerais section:nth-child(even){
		background-color: #eaeaea;
	}

	.paginas-gerais section:nth-child(odd){
		background-color: #f4f4f4;
	}


	.como-funciona{
		margin-bottom: 5.6vh;
	}
		.como-funciona-inner-wrapper{
			text-align: center;
			text-justify: inter-word;
			color: #373737;
			font-size: 1em;

		}

		.como-funciona-inner-wrapper p {
			
		}




	.procedimento-compra{
		padding: 5vh 0;

    	border-bottom: 2px solid #cacaca;

            background: #eaeaea;
            background: -webkit-linear-gradient(top left,#eaeaea,#f4f4f4);
            background: -moz-linear-gradient(top left,#eaeaea,#f4f4f4);
            background: linear-gradient(top left,#eaeaea,#f4f4f4);
            box-shadow: inset 2px 1px 130px -99px rgba(0,0,0,0.75);

            text-align: left;
			text-justify: inter-word;
	}
		.procedimento-compra-inner-wrapper img{
			width: 3.7em;
			height: 2.7em;
			margin-bottom: 2.5vh;
			vertical-align: middle;
		}

		.procedimento-compra-inner-wrapper h2{
			font-weight: 600;
			font-size: 0.9em;
			margin-bottom: 0;
		}

		.procedimento-compra-inner-wrapper p{
			text-align: justify-all;
			text-justify: inter-word;
			color: #8a8a8a;
			font-size: 0.9em;
		}



















@media (max-width: 400px){
	  	.quote-section{

			background: linear-gradient(
		      rgba(0, 0, 0, 0.5),
		      rgba(0, 0, 0, 0.5)
		    ), url('../img/artesanto-bnw-400vw.jpg') no-repeat center center scroll; 
			  -webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover; 
			  background-size: cover;
			  
		}

	
	.quote-section p{
		font-family: Playfair Display;
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 1.5em;
		color: #a39167;
		text-align: center;
	}

}


@media (max-width: 500px) {

	.sobre-nos-wrapper-productos{
		height: 65vh;
		background: linear-gradient(
	      rgba(0, 0, 0, 0.5),
	      rgba(0, 0, 0, 0.5)
	    ), url('../img/the-team.jpg') no-repeat center center fixed ; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover; 
	  background-size: cover;
	  /* background-position: 0em -2em !important; */
	  /* background-position: -80px -30px !important; */
	}
	
}

@media (max-width: 600px) {
	

	.sobre-nos-wrapper-productos{
		height: 65vh;
		background: linear-gradient(
	      rgba(0, 0, 0, 0.5),
	      rgba(0, 0, 0, 0.5)
	    ), url('../img/the-team-600vw.jpg') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover; 
	  background-size: cover;
	  /* background-position: 0em 0em; */
	  /* background-position: 0px -50px; */
	}
}

@media (max-width: 640px){

	.location p{
		font-size: 0.6em;
		font-weight: 400;
	}

	/* FAZER COM QUE A SECCAO MENSAGEM-CONTACTO OCUPE A TELA  */
	.mensagem-contacto .grid-container{
	    padding-right: 0rem;
	    padding-left: 0rem;
	}

	/* DIMINUIR A LETRA DO DIV QUOTE */
	@media (max-width: 460px){
		.quote-section p{
			font-family: Playfair Display;
			font-weight: 400;
			font-size: 1.2rem;
			line-height: 1.4em;
			color: #c0b283;
			text-align: center;
		}

		/* DIMINUIR AS LETRAS DO ACCORDION TABS */
		.produtos .tabs-title > a{
			font-size: 1em;
		}
		


	}

	.margin-top-1x, .margin-top-2x{
		margin-top: 2vh;
	}


	@media (max-width: 330px){
		.quote-section p{
			font-family: Playfair Display;
			font-weight: 400;
			font-size: 1rem;
			line-height: 1.4em;
			color: #c0b283;
			text-align: center;
		}
	}
}


@media (max-width: 460px) {

	.btn {
		padding: 1em 2em;
		font-size: 0.8em;
	}

/* DIMINUIR A IMAGEM DOS PRODUTOS */
	.img-produto {
		height: 9em;
	}
	
	
}


@media (min-width: 461px) and (max-width: 640px){
	
	/* DIMINUIR A IMAGEM DOS PRODUTOS */
	.img-produto {
		height: 13em;
	}

}


@media (max-height: 495px) {

	.header-wrapper-home{
		height: 480px;
	}

	.header-wrapper-home p {
		font-size: 0.8em;
	}

	.btn, .btn-1 {
		padding: 16px 20px;
	}

		
}

@media (max-width: 400px) {

	/* AUMENTAR O HEADE */
	.header-wrapper-home{
		height: 108vh;
		background: linear-gradient(
	      rgba(0, 0, 0, 0.5),
	      rgba(0, 0, 0, 0.5)
	    ), url('../img/header-hero2-400vw.jpg') no-repeat center center scroll; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover; 
  		background-size: cover;
	}

	/* DIMINUIR AS LETRAS DO ACCORDION TABS */
		.produtos .tabs-title > a{
			font-size: 1em;
			padding: 1.75em 0.6em;
		}
			
}


/* Telas de 320 (iPhone 4 e 5) */
@media (max-width: 320px) {

	/* DIMINUIR AS LETRAS DO ACCORDION TABS */
		.produtos .tabs-title > a{
			font-size: 0.9em;
		}

	/* DIMINUIR O ICON DO .header-wrapper-home */
	@media (max-width: 300px) {
	 	.menu-show-small .icon{
			font-size: 1.4em;
		}
	}

	/* Aumentar o .header-wrapper-home para iPhone 4 */
	@media (max-height: 480px) {
		.header-wrapper-home{
			height: 120vh;
		}
	}
	
	
	.btn-1{ 
		font-size: 0.8em;
		line-height: 1.3em;
	}
}


@media (max-width: 800px) {


	/* DIMINUIR A LETRA DO PROCEDIMENTO COMPRA (PRODUTO) */
		.procedimento-compra-inner-wrapper p{
			/* font-size: 0.84em; */
		}

		.procedimento-compra-inner-wrapper img {
			width: 3em;
			height: 2em;
		}

		.header-wrapper-productos{
			background-position: -85000px -59px;
		}


	.nossas-crencas-header-caps{
		font-size: 1.5em;
	}
}

@media (min-width: 800px) {
	.nossas-crencas-header-caps{
		font-size: 1.9em;
	}
}


@media(max-width: 850px) {

	/* TROCAR IMAGEM HEADER (PRODUTO) */
	.header-wrapper-productos{
		height: 65vh;
		background: linear-gradient(
	      rgba(0, 0, 0, 0.5),
	      rgba(0, 0, 0, 0.5)
	    ), url('../img/manequim.jpg') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover; 
	  background-size: cover;
	  /* background-position: -0.2em -9em; */

	}
}

@media (min-width: 900px) {

	.header-wrapper-contacto{
		height: 65vh;
		background: linear-gradient(
	      rgba(0, 0, 0, 0.5),
	      rgba(0, 0, 0, 0.5)
	    ), url('../img/contacto-feedback.jpg') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover; 
	  background-size: cover;
	  background-position: 0em -11em;
	  /* background-position: 0px -950px; */
	}
	
}

@media (max-width: 940px){

	/* .header-wrapper-home */

		.menu-show-small{
			color: white;
		}

		.dropdown ul{
			background-color: #373737;
			border: none;
		}

		/* REMOVER O ESPACAMENTO DE LINHAS DO HERO-NAV */
		.header-wrapper-home .quote br {
			display: none;
		}
		 
}


@media (min-width: 640px) {

	/* ESCONDER O FOOTER FEITA PARA TELAS MENORES */
	.footer-show-small{
		display: none;
	}
}

@media (max-width: 639px) {

	.footer-show-medium{
		display: none;
	}

	.copyright{
		margin-top: 0;
	}

}


/* ESCONDER O MENU FEITA PARA TELAS MENORES */
@media (min-width: 999px){
	.menu-show-small{
		display: none !important;
	}


}

@media (max-width: 999px) {
	/* DIMENSOES PARA ESCONDER E MOSTRAR O MENU PARA TELAS MENORES */
	.menu-show-medium{
		display: none !important;
	}

}

@media (min-width: 1024px) {
	.nossas-crencas-header-caps{
		font-size: 2.4em;
	}
}



/* AJUSTE PARA ARE DE MENSAGEM-CONTACTO */
@media (max-width: 1240px) {



	.mensagem, .contacto{
		padding: 2em;
	}

	.social-icons-contacto{
		margin-top: 2.2rem;
	}

	.mensagem-contacto .icon {
	    font-size: 2em;
	}

	.contacto p {
		font-size: 0.8em;
		margin-left: 1em;
	}

	

	
}